* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  font-weight: 400;
  background-color: #f5f8fa;
  font-family: "iranYekan";
}
/* scrollbar body */
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
ol,
body::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  outline: 1px solid #a8a8a8;
  border-radius: 50px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  width: 100%;
}
/* button */

.btn:link,
.btn:visited {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
  border: none;
}
.btn-primary:link,
.btn-primary:visited {
  border: 1px solid #00a8d6;
  border-radius: 0.9rem;
  color: #00a8d6;
  margin: 0 1rem;
}
.btn-secondary:link,
.btn-secondary:visited {
  color: #fff;
  background-color: #00a8d6;
  border-radius: 0.9rem;
}

/* fonts  */
@font-face {
  font-family: "iranYekan";
  src: url("../assets/font/IRANYekanWebRegular.woff") format("woff");
  src: url("../assets/font/IRANYekanWebRegular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "iranYekan";
  src: url("../assets/font/IRANYekanWebMedium.woff") format("woff");
  src: url("../assets/font/") format("woff2");
  font-weight: 400;
}

/* header */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 12rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  height: 25px;
  z-index: 999;
}
.main-nav ul.main-menu {
  flex: 1;
}
.header-logo {
  width: 150px;
}
.main-nav ul {
  display: flex;
  margin-right: 2rem;
  gap: 1.4rem;
}
.links-list:link,
.links-list:visited {
  font-size: 1.4rem;
  color: #6c757d;
}
.links-list:hover,
.links-list:active {
  color: #000000;
  transition: all 0.2ms;
}

.other-links-list:link,
.other-links-list:visited {
  color: #00a8d6;
  font-weight: 600;
}
.other-list .links-list {
  border-left: 1px solid #ced4da;
  padding: 0 1rem;
}

/* container  */

/* main title  box page  */
.box__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1116px;
  margin: 0 auto;
  gap: 2rem;
}
.container_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__img {
  border-radius: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.main-box {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 1.4rem;
}

.main-box .main-box__list {
  display: flex;
  align-items: center;
}
.main-box__list .icon {
  width: 20px;
  height: 20px;
  margin-right: 3rem;
}
.main-box .main-box__title {
  font-size: 1.4rem;
}
.main-box__list a.second-element {
  border-bottom: 2px solid #00a8d6;
  color: #00a8d6;
}
.main-box__title {
  display: inline-block;
  padding: 1.6rem 0rem;
  border-bottom: 3px solid transparent;
}
.code-icon {
  color: #00a8d6;
}

.main-box .first_element {
  border-left: 1px solid #ced4da;
  padding-left: 20rem;
}
.main-box .link-list {
  color: #6c757d;
  font-size: 1.6rem;
  margin-left: 20px;
}
/* grid boxes  */
.section__showcase {
  display: flex;
  justify-content: center;
  padding: 2rem 12rem;
  gap: 10px;
}
.sidebar__showcase {
  width: 290px;
}
/* toggle icon  */

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin: 0 10px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cbd5e0;
  border-radius: 34px;
}
.switch input {
  display: none;
}
.slider::before {
  position: absolute;
  content: " ";
  width: 16px;
  height: 16px;
  left: 17px;
  bottom: 2px;
  top: 2px;
  background-color: #fff;
  transition: 0.5s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
}

.sidebar__title-icon {
  padding-left: 1rem;
}

.sidebar__title {
  color: #718096;
  font-size: 1.6rem;
}
.sidebar__showcase-title {
  background-color: #fff;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); */
  padding: 1rem 1rem 1rem 0;
  border-radius: 1.3rem;
  margin: 0 0 1.5rem 0;
}
.sidebar__showcase-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__showcase-collection {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;
  padding: 0.9rem 0rem 0.7rem 0rem;
}
.sidebar__showcase-collection-title {
  display: flex;
  border-bottom: 1px solid #dbdee2;
  width: 290px;
  justify-content: space-between;
  align-items: center;
}
.collection__title {
  color: #718096;
  font-size: 1.6rem;
  padding: 1rem 1rem 1.2rem 0;
}
.sidebar__collection-icon ion-icon {
  font-size: 16px;
  color: #718096;
  padding-left: 1rem;
}

.collection-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0.7rem 0;
}
.name-collection {
  color: #4a5568;
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 1.5;
}
.collection-itemes {
  padding: 1rem 1rem 1rem 1rem;
}

/* solution box */
.item__solutaion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdee2;
  width: 290px;
}

.collection__item-solution {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;
  padding: 0.9rem 0rem 0.7rem 0rem;
  margin-top: 1.4rem;
}

.solutaion-title {
  color: #718096;
  font-size: 1.6rem;
  padding: 1rem 1rem 1.2rem 0;
}
/* label items */
.collection__itemes-label {
  background-color: #fff;
  border-radius: 1.3rem;
  margin-top: 1.4rem;
  min-height: 300px;
  padding: 0.9rem 0 0 0;
  overflow: hidden;
}
.label__search {
  max-width: 230px;
  height: 35px;
  margin: 15px auto;
  background-color: #e2e8f0;
  position: relative;
  padding: 0 1rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-search {
  border: none;
  height: 100%;
  padding: 0 5px;
  font-size: 1.4rem;
  font-family: "iranYekan";
  outline: none;
  width: 100%;
  padding-left: 2rem;
  background-color: #e2e8f0;
}

.icon-inside ion-icon {
  font-size: 16px;
}
/* scolbar */
.label__names {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple green;
  width: 264px;
  height: 225px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1.3rem;
  border-top: 1px solid #dbdee2;
}
.item__competition-title {
  background-color: #fff;
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* competition  section*/
.compotion__names {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple green;
  
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1.3rem;
  border-top: 1px solid #dbdee2;
}



.compotion__section {
  background-color: #fff;
  margin-top: 1.4rem;
  border-radius: 1.3rem;
  padding: 0.9rem 0 0 0;
  overflow: hidden;
}

/* the success people section */

.section__top-student {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;
  padding: 0.9rem 0rem 0 0rem;
  margin-top: 1.4rem;
}

.section__top-student .solutaion-title {
  border-bottom: 1px solid #dbdee2;
  padding: 1.2rem 1.9rem;
}
.section__max-soluation {
  position: relative;
  border-bottom: 1px solid #dbdee2;
  padding: 12px 0;
}
.section__max-soluation select {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 0.7rem 0.9rem;
  line-height: 1.3;
  border: none;
  border: 1px solid #dbdee2;
  font-family: "iranYekan";
  color: #475970;
  font-size: 1.4rem;
  /* appearance: none; */
  -webkit-appearance: none;
  border-radius: 0.8rem;
}
.section__max-soluation::after {
  position: absolute;
  content: "";
  right: 85%;
  top: 50%;
  margin-top: -4px;
  border-top: 7px solid #475970;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  pointer-events: none;
}


.footer__student {
 text-align: center;
 font-size: 1.4rem;
 border-top: 1px solid #dbdee2;
 /* padding-bottom: 1rem; */
 /* padding-top: 1rem; */
/* padding: 0.6rem 0; */
width: 100%;
padding: 1rem 0;

 
}
.footer__student a{
  color: #0099CC;
}
.footer__student:hover{
 background-color: #E1F5F9; 
border-bottom-right-radius: 1.3rem;
border-bottom-left-radius: 1.3rem;

 
 
}

.section__max-soluation select:focus {
  outline: none;
  color: #718096;
  border: 1px solid #84b0d4;
}
.student_img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #cbd5e0;
}
.container__names {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container_students_names {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: space-between;
}
.section__students-names {
  padding: 1.2rem 1.9rem 1.2rem 1.9rem;
}
.student__name {
  font-size: 1.4rem;
  color: #475970;
}
.student__score {
  font-size: 1.4rem;
  color: #475970;
}
/* ended the sidebar section  */
/* middle section */
.container__showcase {
  width: calc(100% - 290px);
  
  
 
}
.container__showcase-search {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cbd5e0;
  background-color: #fff;
  border-radius: 1rem;
  /* width: 100%; */
  width: 600px;
}
.container__showcase-search .icon-inside {
  position: absolute;
  right: 94%;
}
.container__showcase-search input {
  outline: none;
}

.search-container {
  border: none;
  height: 100%;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  font-family: "iranYekan";
  outline: none;
  width: 100%;
  border-radius: 1rem;
}

.search-container:focus {
  border: 2px solid #00a8d6;
  border-radius: 1rem;
  width: 100%;
  max-width: 900px;
}

.container__showcase-title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.container__showcase-newest {
  width: 209px;
  
}
.container__showcase-newest select {
  width: 100%;
  border: none;
  border: 1px solid #cbd5e0;
  font-family: "iranYekan";
  color: #475970;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  margin-right: 0.6rem;
  border-radius: 1rem;
}

/* container questions */
.container__showcase-main{
  background-color: #fff;
  padding: 0.9rem 2rem;
  border-radius: 1.3rem;
  
  
}
/* table section */
.table__main{
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  
 
  
}
.table__main thead tr{
  border-bottom: 1px solid #fff;
  font-size: 1.2rem;
  color: #A0AEC0;
  font-weight: 600;
  
  
  
  
}
 /* .icon__choose{
  width: 30%;
 
} */

.table__tr .icon__choose icon-span{
  background-color: red;
 display: flex;
 
}
.body_table .highlight{
 
 width: 20%;
  color: #000000;
}
.table__tr .question{

  width: 230px;
}

 .titles td{
  
  padding: 1rem 0 2rem 0;
}
.table__main tbody td{
  font-size: 1.3rem;
  color: #0099CC;
}
.numbers{
 
  width: 13%;
  margin-left: 2rem;
}
.highlight span{
  background-color:#EDF2F7;
  color: #94A0B1;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
}
.table__tr td{
  
  padding-bottom: 4rem;
}
.span__numbers{
  color: #a8a8a8;
}
.table__tr .icon-arch{
  color: #9a9da1;
  font-size: 18px;
  --ionicon-stroke-width: 50px;
}
.table__tr .icon__choose{
  display: flex;
  align-items: center;
  gap: 10px;

}
.icon__choose{
  cursor: pointer;
}
.icon__choose:hover{
  text-decoration: underline;
}


 .circle-icon{
  color: #ced4da;
  --ionicon-stroke-width: 70px;
  font-size: 22px;
}
/* pages */
.section__pages-number{
  background-color: #fff;
  margin: 1.5rem 0;
  max-width: 815px;
  height: 40px;
  border-radius: 1.3rem;
  text-align: center;
  position: relative;
 
  
}
.section__pages-number ul{
 display: flex;
 position: absolute;
 align-items: center;
 justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  top: 50%;
  left: 43%;

 
}

.section__pages-number ul li  {
  font-size: 1.4rem;
  width: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
}
.section__pages-number ul li a{
  text-align: center;
  color: #4A5568;
 
}
.section__pages-number ul li:hover{
  background-color:#E1F5F9;
  
}

.section__pages-number .page__number-prev ,
.section__pages-number  .page__number-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* width: 25px; */
  /* height: 25px; */
  font-size: 20px;
}
.section__pages-number .page__number-prev {
  left: 490px;
  color: #94A0B1;
  font-size: 17px;
  
}
.section__pages-number  .page__number-next{
  right: 490px;
  font-size: 17px;
  
}
.section__end{
  display: flex;
  background-color: #fff;
  max-width: 1100px;
  padding: 2rem 2rem;
  margin: 0  auto 30px auto;
  border-radius: 1.3rem;
}
.container__right-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid #dbdee2;
  padding-left: 30px;
}
.container__left-section{
  position: relative;
 
}
.container__left-section .left_arrow , 
 .container__left-section .right__arrow{
  position: absolute;
  top: 50%;
  transform: translateY(4%);
 }
 .container__left-section .left_arrow {
  left: -770px; 
  
  color:#aeb3b9;
  font-size: 30px;
 }
 
 .container__left-section .right__arrow{
  color:#dbdee2;
  font-size: 30px;
 }
 .section__recent{
  display: flex;
  gap: 40px;
 position: absolute;
 top: 50%;
 right: -260px;
 transform: translate(-50% , -40%);
 }
 .img-card{
  width: 90px;
  border-radius: 50%;
  border: 4px solid  #dbdee2;
 }
 .information__recent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
 }
 .title__right-section{
  
  font-size: 1.5rem;
 }
 .lead__right-section{
  font-size: 1.2rem;
 }
 .information__recent .title{
  color: #45546e;
  font-size: 1.4rem;
 }
 .information__recent .description , 
 .information__recent .descriptopn__other{
  color: #718096;
  font-size: 1.2rem;
 }
 /* footer */
 .footer__container{
  background-color: #fff;
   border-top: 1px solid rgb(240, 240, 240);
  padding: 4rem 0 6rem 0;
 
 }
 .footer{
   width: 100%; 
   margin: 0 auto;  

 display: flex;
   justify-content: center;
 /* align-items: center; */
 gap: 12rem;
 


  
 }
 .img-footer{
  width: 80px;
 }
 .img-trust , .img-trust-digital{
  width: 70px;
 }
 .footer-heading{
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 12px;
 }
 .trust__img{
  display: flex;
  align-items: center;
 }
.footer__trust-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icon{
  color: #4A5568;
  font-size: 20px;
  cursor: pointer;
}
.social__media{
  display: flex;
  gap: 20px;
}
.footer-heading p{
  padding-bottom: 1.6rem;
  font-size: 1.5rem;
  color: #415568;
  
}
.footer-lists{
  display: flex;
  gap: 30px;
}
.footer-lists li a{
  color: #718096;
  font-size: 1.3rem;
  
}
.main-footer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
